# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES README* TODO MANIFEST.in
include ringClient ringDaemon
include test*.py 
include *.xlgo
exclude unittest*

recursive-include ringd  *.py

global-exclude junk* .*swp 
prune   .svn


